In [2]:
import pandas as pd

In [95]:
writer = pd.ExcelWriter('new.xlsx')

In [3]:
df1 = pd.read_excel('new.xlsx', sheet_name = 0)
df2 = pd.read_excel('new.xlsx', sheet_name = 1)
df3 = pd.read_excel('new.xlsx', sheet_name = 2)
df4 = pd.read_excel('new.xlsx', sheet_name = 3)

In [76]:
df1.head()

          时间  价格区间     价格值
0 2018-01-01  0-50   75440
1 2018-02-01  0-50   54737
2 2018-03-01  0-50   69882
3 2018-04-01  0-50  134756
4 2018-05-01  0-50  135538

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  756 non-null    int64
 1   时间          756 non-null    datetime64[ns]
 2   价格区间        756 non-null    object
 3   价格值         756 non-null    int64
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 23.8+ KB

In [77]:
df1.loc[:, '时间'] = pd.to_datetime(df1.loc[:,'时间'], format = 'Y%-%m-%d').dt.date
df2.loc[:, '时间'] = pd.to_datetime(df2.loc[:,'时间'], format = 'Y%-%m-%d').dt.date
df3.loc[:, '时间'] = pd.to_datetime(df3.loc[:,'时间'], format = 'Y%-%m-%d').dt.date

In [78]:
df1.head()

           时间  价格区间     价格值
0  2018-01-01  0-50   75440
1  2018-02-01  0-50   54737
2  2018-03-01  0-50   69882
3  2018-04-01  0-50  134756
4  2018-05-01  0-50  135538

In [85]:
df5 = pd.read_excel('new.xlsx', sheet_name = 4)

In [81]:
df5.head()

                 单位（元）        100元以下       1000元以下       1000元以上
0  三方代售（剔除大件生鲜）-包含有品配送  4.017837e+08  2.025053e+09  2.193810e+09
1                 有品配送  1.588351e+08  7.102385e+08  1.656977e+08
2    有品配送/三方代售（剔除大件生鲜）  3.953250e-01  3.507258e-01  7.552964e-02
3   三方代售（剔除大件生鲜）-当前可入仓  2.429485e+08  1.314815e+09  2.028112e+09

In [82]:
df5_refi = pd.melt(df5, id_vars = ['单位（元）'], var_name = '价格区间', value_name = '价格值')

In [84]:
df5_refi

                  单位（元）     价格区间           价格值
0   三方代售（剔除大件生鲜）-包含有品配送   100元以下  4.017837e+08
1                  有品配送   100元以下  1.588351e+08
2     有品配送/三方代售（剔除大件生鲜）   100元以下  3.953250e-01
3    三方代售（剔除大件生鲜）-当前可入仓   100元以下  2.429485e+08
4   三方代售（剔除大件生鲜）-包含有品配送  1000元以下  2.025053e+09
5                  有品配送  1000元以下  7.102385e+08
6     有品配送/三方代售（剔除大件生鲜）  1000元以下  3.507258e-01
7    三方代售（剔除大件生鲜）-当前可入仓  1000元以下  1.314815e+09
8   三方代售（剔除大件生鲜）-包含有品配送  1000元以上  2.193810e+09
9                  有品配送  1000元以上  1.656977e+08
10    有品配送/三方代售（剔除大件生鲜）  1000元以上  7.552964e-02
11   三方代售（剔除大件生鲜）-当前可入仓  1000元以上  2.028112e+09

In [86]:
df5_refi.drop([2,6,10],inplace = True)

In [92]:
df5_refi

                  单位（元）     价格区间           价格值
0   三方代售（剔除大件生鲜）-包含有品配送   100元以下  4.017837e+08
1                  有品配送   100元以下  1.588351e+08
3    三方代售（剔除大件生鲜）-当前可入仓   100元以下  2.429485e+08
4   三方代售（剔除大件生鲜）-包含有品配送  1000元以下  2.025053e+09
5                  有品配送  1000元以下  7.102385e+08
7    三方代售（剔除大件生鲜）-当前可入仓  1000元以下  1.314815e+09
8   三方代售（剔除大件生鲜）-包含有品配送  1000元以上  2.193810e+09
9                  有品配送  1000元以上  1.656977e+08
11   三方代售（剔除大件生鲜）-当前可入仓  1000元以上  2.028112e+09

In [91]:
df4_refi = df4.loc[df4['单位（元）']!= '占比',:]
df4_ref = pd.melt(df4_refi, id_vars = ['单位（元）'], var_name = '价格区间', value_name = '价格值')
df4_ref

         单位（元）     价格区间           价格值
0  三方代售（含有品配送）   100元以下  4.120605e+08
1         有品配送   100元以下  1.588351e+08
2  三方代售（含有品配送）  1000元以下  2.077155e+09
3         有品配送  1000元以下  7.102385e+08
4  三方代售（含有品配送）  1000元以上  2.551143e+09
5         有品配送  1000元以上  1.656977e+08

In [96]:
df1.to_excel(writer, sheet_name = '有品配送')
df2.to_excel(writer, sheet_name = '三方代售（选择有品）')
df3.to_excel(writer, sheet_name = '三方商家')
df4_ref.to_excel(writer, sheet_name = 'GMV（支付金额）汇总1')
df5_refi.to_excel(writer, sheet_name = 'GMV（支付金额）汇总2')

In [97]:
writer.save()
writer.close()